@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@theme {
   -font--family: Outfit;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 .swiper-button-next,
 .swiper-button-prev{
    @apply bg-white p-5 rounded-full z-50 shadow-md
 }

 .swiper-button-prev:after, .swiper-button-next:after{
    @apply text-gray-600 font-semibold text-lg !important
 }

 .btn-primary {
    @apply bg-yellow-400 py-2 rounded-md text-base font-bold hover:bg-blue-950 hover:text-white transition-all cursor-pointer duration-200 px-6 space-x-1 flex items-center gap-1
 }

.html{
   scroll-behavior: smooth;
}